body {
  font-family: Arial, sans-serif;
  background-color: #fafafa;
  margin: 20px;
  color: #333;
}

#glavni {
  width: 100%;
  overflow: hidden; 
}


#levi, #srednji, #desni {
  background: #fff;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  float: left;
  margin-right: 20px;
}


#levi {
  width: 22%;
}

#srednji {
  width: 48%;
}

#desni {
  width: 22%;
  margin-right: 0; 
}


#levi h2, #srednji h2, #desni h2 {
  border-bottom: 2px solid #2980b9;
  padding-bottom: 5px;
  margin-bottom: 15px;
  color: #2980b9;
}


.item a {
  color: #2980b9;
  text-decoration: none;
}




form input[type="submit"] {
  background-color: #2980b9;
  color: white;
  padding: 10px 18px;
  font-weight: bold;

}

form input[type="submit"]:hover {
  background-color: #0056b3;
}

.opiss{
  text-align: center;
}